/* ========== Colors ========== */
:root {
  --indicator-color: hsl(104,94%, 50%);
  --body-color: hsl(233, 12%, 14%);
  --container-color: hsl(233, 12%, 20%);
  --container-color-light: hsl(233, 12%, 26%);
}

/* ========== Toggle Switch ========== */
* {
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  margin: 0;
  background-color: var(--body-color);
  place-items: center;
}

.skeuo {
  &__switch {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 1.5rem;
    cursor: pointer;
    background-color: var(--container-color);
    border-radius: 0.75rem;
  }
  &__input {
    display: none;
  }
  &__rail {
    position: relative;
    width: 88px;
    height: 28px;
    background-color: var(--container-color-light);
    border-radius: 3rem;
  }
  &__circle {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 36px;
    height: 36px;
    background: radial-gradient(circle at 33%,
    #d7d8da 0%,
    #5d5e65 50%,
    rgba(255,255,255, 0) 100%
  );
    border-radius: 50%;
    transition: transform 0.4s;
    transform: translate(0, -50%);
  }
  &__indicator {
    width: 12px;
    height: 12px;
    background-color: var(--container-color-light);
    border-radius: 50%;
    margin-left: 1.5rem;
    transition: 0.4s;
  }
}

/* ========== Toggle Animation Effects ========== */
.skeuo {
  &__input:checked ~ .skeuo__rail .skeuo__circle {
    transform: translate(52px, -50%);
  }
  &__input:checked ~ .skeuo__indicator {
    background-color: var(--indicator-color);
  }
}
